/*
!.gitignore
!/.config/
/.config/*

!/.config/aseprite/
!/.config/bspwm/
!/.config/dosbox/
!/.config/dunst/
!/.config/fontconfig/
!/.config/git/
!/.config/gtk-2.0/
!/.config/gtk-3.0/
!/.config/kitty/
!/.config/lazygit/
!/.config/mpv/
!/.config/nsxiv/
!/.config/nvim/
!/.config/picom.conf
!/.config/polybar/
!/.config/python/
!/.config/rofi/
!/.config/sxhkd/
!/.config/vifm/
!/.config/xorg/
!/.config/zathura/
!/.config/zsh/
!/.zshenv

!/.local/
/.local/*
!/.local/script/

!/src/
/src/*
!/src/redox/

