/*
!.gitignore
!/.config/
/.config/*

!/.config/anacron/
!/.config/aseprite/
!/.config/bspwm/
!/.config/etc/
!/.config/dosbox/
!/.config/dunst/
!/.config/fontconfig/
!/.config/git/
!/.config/gtk-2.0/
!/.config/gtk-3.0/
!/.config/kitty/
!/.config/lazygit/
!/.config/mpv/
!/.config/nsxiv/
!/.config/nvim/
!/.config/picom.conf
!/.config/polybar/
!/.config/python/
!/.config/rofi/
!/.config/sxhkd/
!/.config/vifm/
!/.config/xorg/
!/.config/zathura/
!/.config/zsh/
!/.config/starship.toml
!/.zshenv

!/.local/
/.local/*
!/.local/script/

!/.local/share/
/.local/share/*
!/.local/share/icons/
!/.local/share/sounds/
!/.local/share/themes/
!/.local/share/txt/
!/.local/share/wallpapers/

!/src/
/src/*
!/src/redox/

