/*
!.gitignore
!/.config/
/.config/*

!/.config/aseprite/
!/.config/dosbox/
!/.config/fontconfig/
!/.config/kitty/
!/.config/lazygit/
!/.config/mpv/
!/.config/nsxiv/
!/.config/picom.conf
!/.config/python/
!/.config/xorg/
!/.config/zsh/
!/.zshenv

!/.local/
/.local/*
!/.local/script/

