// https://github.com/davatorium/rofi/blob/next/doc/rofi.1.markdown#rofi-1-rofi
// https://github.com/davatorium/rofi/blob/next/doc/rofi-keys.5.markdown#rofi-keys-5-rofi-keys

configuration {
	matching: "fuzzy";
	font: "monospace 16";
	show-icons: true;

	kb-accept-entry: "Return";
	kb-remove-to-eol: "";
	kb-row-down: "Control+j,Down";
	kb-row-up: "Control+k,Up";

	drun  { display-name: ""; }
	run   { display-name: " "; }
	combi { display-name: " "; }
}
@theme "auto"
