/*
!/.gitignore
!/anacron/
!/aseprite/
!/bspwm/
!/etc/
!/dosbox/
!/dunst/
!/flameshot/
!/fontconfig/
!/git/
!/gtk-2.0/
!/gtk-3.0/
!/kitty/
!/lazygit/
!/mpv/
!/nsxiv/
!/nvim/
!/picom.conf
!/polybar/
!/python/
!/rofi/
!/sxhkd/
!/vifm/
!/xorg/
!/zathura/
!/zsh/
!/starship.toml
!/terminal-colors.d/
!/xplugrc
!/yazi/
