/*
!/anacron/
!/aseprite/
!/bashbus/
!/bspwm/
!/dosbox/
!/dunst/
!/etc/
!/flameshot/
!/fontconfig/
!/darktable/
!/git/
!/irb/
!/kitty/
!/lazygit/
!/mpv/
!/nsxiv/
!/nvim/
!/openbox/
!/picom.conf
!/polybar/
!/python/
!/qimgv/
!/rofi/
!/sxhkd/
!/terminal-colors.d/
!/vifm/
!/xorg/
!/yazi/
!/zathura/
!/zsh/

!/starship.toml
!/xplugrc
