[Unit]
Description=Lock the screen
After=sleep.target
 
[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
Environment="XAUTHORITY=/run/user/1000/Xauthority"
ExecStart=/home/piotr/.local/script/lock-workstation
 
[Install]
WantedBy=sleep.target
